.DishesPage {
    position: relative;
    border: 1px solid black;
    background: grey;
}

.DishesPage .header {
    position: relative;
}

.DishesPage .header h1 {
    margin: 5px 0;

}

.DishesPage .header button {
    position: absolute;
    top: 20%;
    right: 15px;
}

.DishesPage .Item {
    background: #fff;
    min-height: 120px;
    margin-bottom: 10px;
}

.DishesPage .Item img {
    height: 120px;
    width: 120px;
    float: left;


}